.button {
    font-family: 'Roboto Condensed', sans-serif;
}

.office__skip-btn {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}


/* CSS */
.desktop__inventory--btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.desktop__inventory--btn:hover,
.desktop__inventory--btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.desktop__inventory--btn:active {
  background: var(--color);
  color: #fff;
}

.desktop__computer--btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.desktop__computer--btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.desktop__computer--btn:hover:after {
  transform: translate(0, 0);
}

.desktop__computer--btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.desktop__computer--btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .desktop__computer--btn {
    padding: 0 40px;
  }
}