.main {
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.hidden {
  /* display: none; */
}

.shown {
  z-index: 1;
}

@keyframes showScreen {
  0% {
      opacity: 0;
      visibility: hidden;
      transform: scale(0) translateY(-20rem);
  } 100%{
      opacity: 1;
      transform: scale(1) translateY(0);
  } 
}

/* ICONS */

.svg {
  cursor: grab;
}

.icon--usb {
  cursor: grab;
  z-index: 1;
}